@page
@model LIA.Admin.Pages.ListItems.IndexModel

@{
	ViewData["Title"] = "Index";
}

<h2>Index</h2>

<a class="btn btn-primary" asp-page="Create"><span class="glyphicon glyphicon-info-sign"> </span> Create New</a>
<a class="btn btn-warning" asp-page="/Index"><span class="glyphicon glyphicon-list-alt"></span> Dashboard</a>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.ListItem[0].Name)
			</th>
			<th>
				@*@Html.DisplayNameFor(model => model.ListItem[0].Product.Name)*@
				Product Name
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ListItem[0].Product.Description)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.ListItem)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Product.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td class="buttonstoright">
					<a class="btn btn-success glyphicon glyphicon-pencil" asp-page="./Edit" asp-route-id="@item.Id"></a>
					<a class="btn btn-danger glyphicon glyphicon-remove" asp-page="./Delete" asp-route-id="@item.Id"></a>
				</td>
			</tr>
		}
	</tbody>
</table>
