@page
@model LIA.Admin.Pages.UserProducts.IndexModel
@{
	ViewData["Title"] = "Index";
}
<h2>User Products</h2>
<a class="btn btn-primary" asp-page="Create"><span class="glyphicon glyphicon-info-sign"> </span> Create New</a>
<a class="btn btn-warning" asp-page="/Index"><span class="glyphicon glyphicon-list-alt"></span> Dashboard</a>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.UserProduct[0].User.Email)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UserProduct[0].Product.Name)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var up in Model.UserProduct)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => up.User.Email)
				</td>
				<td>
					@Html.DisplayFor(modelItem => up.Product.Name)
				</td>
				<td>
					<a class="btn btn-danger glyphicon glyphicon-remove" asp-page="./Delete" asp-route-productId="@up.ProductId" asp-route-userId="@up.UserId"></a>
				</td>
			</tr>
		}
	</tbody>
</table>
