@page
@model LIA.Admin.Pages.Products.IndexModel

@{
	ViewData["Title"] = "Index";
}

<h2>Index</h2>
	<a class="btn btn-primary" asp-page="Create"><span class="glyphicon glyphicon-info-sign"> </span> Create New</a>
	<a class="btn btn-warning" asp-page="/Index"><span class="glyphicon glyphicon-list-alt"></span> Dashboard</a>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Product[0].Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Product[0].Image)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Product[0].Price)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Product[0].Date)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Product[0].Description)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Product[0].Author.Name)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Product)
		{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Image)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Price)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Date)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Description)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Author.Name)
			</td>
			<td class="buttonstoright">
				<a class="btn btn-success glyphicon glyphicon-pencil" asp-page="./Edit" asp-route-id="@item.Id"></a>
				<a class="btn btn-danger glyphicon glyphicon-remove" asp-page="./Delete" asp-route-id="@item.Id"></a>
			</td>
		</tr>

			//public string Name { get; set; }
			//public string Image { get; set; }
			//public int Price { get; set; }
			//public DateTime Date { get; set; }
			//public string Description { get; set; }
		}
	</tbody>
</table>
