@using LIA2Version3.Data.Entities
@using LIA.UI.Models.Membership

@model ItemViewModel

@{
	ViewData["Title"] = "Item";
}

<div class="row">
	<div class="videoplayer col-sm-4 col-sm-offset-3">
		@if (Model.Item.Link != null)
	{
		<div id="hiddenUrl" hidden="hidden">@Model.Item.Link</div>
		<video id="video" class="video-js vsj-default-skin vjs-big-play-centered vjs-16-9" controls preload="auto"> </video>
		<h4>@Model.Item.Name</h4>
		<p>@Model.Item.Description</p>

}
	</div>
		<div class="col-sm-2 authorbox">
			<img src="@Model.Author.Picture" class="img-circle" />
			<h4>@Model.Author.Name</h4>
			<p>@Model.Author.Description</p>
			<p class="instructor">Instructor</p>
		</div>
	
</div>



	@section scripts
		{
		<script type="text/javascript">
			$(function () {
				videoJS($("#hiddenUrl").text());
			});
		</script>
	}
