@using LIA2Version3.Data.Entities
@using LIA.UI.Models.Membership

@model ProductViewModel

@{
	ViewData["Title"] = "Product";
}

<a class="btn btn-primary" asp-controller="Home" asp-action="Index">
	Dashboard
</a>

<div class="row">
	<div class="panel product-panel col-sm-12 panel-default">
		<img class="image-product" src="@Model.Product.Image">
		<div class="panel-body">
			<h3>@Model.Product.Name</h3>
			@Model.Product.Description
		</div>
	</div>
	</div>
	<div class="panel col-sm-9">
		@foreach (var listitem in Model.ListItems)
		{
			<h4>@listitem.Name</h4>
			<div class="panel-body">
				@foreach (var item in listitem.Items.Where(i => i.ItemTypeId.Equals(2)))
				{

					<a asp-controller="Membership" asp-action="Item" asp-route-itemId="@item.Id">
						<div class="panel-item">
							@item.Name<span>@item.Description</span>
						</div>
					</a>




				}
				@foreach (var item in listitem.Items.Where(i => i.ItemTypeId.Equals(8004)))
				{
					<div>
						<a href="@item.Link" target="_blank">@item.Name</a>
						<span>@item.Description</span>
					</div>
				}
			</div>

		}
	</div>
	<div class="col-sm-2 col-sm-offset-1 authorbox author-panel">
		<img src="@Model.Product.Author.Picture" class="img-circle" />
		<h4>@Model.Product.Author.Name</h4>
		<p>@Model.Product.Author.Description</p>
		<p class="instructor">Instructor</p>
	</div>



