@using LIA2Version3.Data.Entities
@using LIA.UI.Models.Membership

@model ProductViewModel

@{
	ViewData["Title"] = "Product";
}

<h2>Product</h2>
<a class="btn btn-primary" asp-controller="Home" asp-action="Index">
	Dashboard
</a>

<div class="panel col-sm-12 panel-default">
	<img class="image-product" src="@Model.Product.Image">
		<div class="title">@Model.Product.Name</div>
		<div class="panel-body">
			@Model.Product.Description
		@foreach (var listitem in Model.ListItems)
		{
			<hr />
			<div class="itemtitle">@listitem.Name</div>
			@foreach (var item in listitem.Items.Where(i => i.ItemTypeId.Equals(2)))
			{
				<a asp-controller="Membership" asp-action="Item" asp-route-itemId="@item.Id">@item.Name</a>
				<div>@item.Description</div>
			}
			@foreach (var item in listitem.Items.Where(i => i.ItemTypeId.Equals(8004)))
			{
				<a href="@item.Link" target="_blank">@item.Name</a>
				<div>@item.Description</div>
			}
		}
	</div>
</div>


