@using LIA2Version3.Data.Entities
@using LIA.UI.Models.Membership

@model ProductViewModel

@{
	ViewData["Title"] = "Product";
}

<h2>Product</h2>
<a class="btn btn-primary" asp-controller="Home" asp-action="Index">
	Dashboard
</a>

<div class="panel col-sm-12 panel-default">
	<img class="image-product" src="@Model.Product.Image">
	<div class="panel-body">
	<h3>@Model.Product.Name</h3>
	@Model.Product.Description
		</div>
</div>
	@foreach (var listitem in Model.ListItems)
	{
		<div class="panel">
			<h4>@listitem.Name</h4>
			<div class="panel-body">
			@foreach (var item in listitem.Items.Where(i => i.ItemTypeId.Equals(2)))
			{
				<div>
					<a asp-controller="Membership" asp-action="Item" asp-route-itemId="@item.Id">@item.Name</a>
					<span>@item.Description</span>
				</div>
			}
			@foreach (var item in listitem.Items.Where(i => i.ItemTypeId.Equals(8004)))
			{
				<div>
					<a href="@item.Link" target="_blank">@item.Name</a>
					<span>@item.Description</span>
				</div>
			}
				</div>
		</div>
	}
	


