@using LIA2Version3.Data.Entities
@using LIA.UI.Models.Membership

@model ProductViewModel

@{
	ViewData["Title"] = "Product";
}

<h2>Product</h2>

<div class="panel col-sm-12">
	<img class="image-product" src="@Model.Product.Image">
	<div class="panel-body">
		<div class="title-product">@Model.Product.Name</div>
		<div>@Model.Product.Description</div>
		@foreach (var listitem in Model.ListItems)
		{
		<div>@listitem.Name</div>
		@foreach (var item in listitem.Items)
		{
		<div>@item.Name</div>
		<div>@item.Description</div>
		}
		}
	</div>
</div>

