@page
@model IndexModel

@{
	ViewData["Title"] = "Home page";
}
<div class="runt">
	<div class="tile tile1">
		<div class="totheleft number"><a href="./Items">@ViewBag.itemCount</a></div>
		<div class="totheleft name"><a href="./Items">Items</a></div>
		<div class="totheright"><span class="glyphicon glyphicon-film"></span></div>
	</div>
	<div class="tile tile2">
		<div class="totheleft number"><a href="./ItemTypes">@ViewBag.itemTypeCount</a></div>
		<div class="totheleft name"><a href="./ItemTypes">ItemTypes</a></div>
		<div class="totheright"><span class="glyphicon glyphicon-tags"></span></div>
	</div>
	<div class="tile tile3">
		<div class="totheleft number"><a href="./ListItems">@ViewBag.listItemCount</a></div>
		<div class="totheleft name"><a href="./ListItems">ListItems</a></div>
		<div class="totheright"><span class="glyphicon glyphicon-list"></span></div>
	</div>
	<div class="tile tile4">
		<div class="totheleft number"><a href="./Products">@ViewBag.productCount</a></div>
		<div class="totheleft name"><a href="./Products">Products</a></div>
		<div class="totheright"><span class="glyphicon glyphicon-folder-open"></span></div>
	</div>
	<div class="tile tile5">
		<div class="totheleft number"><a href="./UserProducts">@ViewBag.userProductCount</a></div>
		<div class="totheleft name"><a href="./UserProducts">UserProducts</a></div>
		<div class="totheright"><span class="glyphicon glyphicon-blackboard"></span></div>
	</div>
</div>






