@page
@model LIA.Admin.Pages.Items.IndexModel

@{
	ViewData["Title"] = "Index";
}

<h2>Items</h2>


	<a class="btn btn-primary" asp-page="Create"><span class="glyphicon glyphicon-info-sign"> </span> Create New</a>
	<a class="btn btn-warning" asp-page="/Index"><span class="glyphicon glyphicon-list-alt"></span> Dashboard</a>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Item[0].Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Item[0].Description)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Item[0].ItemType.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Item[0].Link)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Item)
		{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Description)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ItemType.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Link)
			</td>
			<td>
				<a class="btn btn-success glyphicon glyphicon-pencil" asp-page="./Edit" asp-route-id="@item.Id"></a> 
				<a class="btn btn-danger glyphicon glyphicon-remove" asp-page="./Delete" asp-route-id="@item.Id"></a>
			</td>
		</tr>
		}
	</tbody>
</table>
